@import './src/index.scss';
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: $alert;
    margin: 50px;
    color: black;
}

.form2 {
  background-color: $grey;
  width: 30%;
  height: 250px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
}

input {
    //margin: 5px;
    margin-bottom: 10px;
}

// .logo { background : url(feedingcommunitywhite-501706b0bf803ec56edaa0832a85fed3.png); }


.log-in, .log-out, .register {
  background-color: $primary;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #0f5f94;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

h1{
  color: $secondary;
}

h2 {
  text-align: center;
  color: $secondary;
}
