@import './src/index.scss';
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 4px;
}
.accounts th, 
.accounts td {
    padding: 5px;
    text-align: left;
    min-width: 150px;
}
th {
    background-color: $grey;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    
}
tr:hover {
  background-color: $grey;
}
.accounts{
    margin: 0px;
    width: 100%;
}

.search{
    width: 98%;
    margin: auto;
}
