@import './src/index.scss';
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 4px;
}
th, td {
    padding: 5px;
    text-align: left;
}
th {
    background-color: $grey;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    
}
tr:hover {
  background-color: $grey;
}

.accountItems{
    margin-left: 5%;
}
.acctTable{
    max-width: 90%;
}

.driverTable{
    max-width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}