@import './src/index.scss';
.driverTable {
    max-width: 1000px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.driverTable td, 
.driverTable th {
    padding: 8px;
    max-width: 120px;
}