@import './src/index.scss';
/* .AdminDashboard{ */
    /* display: flex; */
    /* justify-content: center; */
    /* margin: 50px; */
/* } */

.dashboardItem{
    text-align: center;
}

.mealBox {
    border: 1px solid black;
    border-collapse: collapse;
    width: 30%;
    min-width: 200px;
    border-radius: 3px;
    margin:auto;
    text-align: center;
}
