$primary: #1770ac; //this is the primary header/input //similar to website #059ad4
$secondary: peru; // this is the text and accent color
$tertiary: #0f5f94; //this is the hover/highlight color
$grey: #e5e8ea; //this is the light grey
$alert: #ff7a45; //alerts for the app