@import './src/index.scss';
.intakeForm input,.intakeForm select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formItem {
  background-color: $grey;
  max-width: 40%;
  max-height: 1200px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
}

// .header{
//   margin-left: 45%;
//   color: $secondary;
// }
.intakeForm button{
  // box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.intakeForm button:active {
 box-shadow:0 0 10px $primary ;
 background-color: darkgrey;
}
.intakeForm button:hover {
  background-color: rgba(189, 189, 189, 0.5);
}
